.navbar {
    width: 100%;
    background-color: rgba(137, 43, 226, 0.482);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo-img {
    width: 40px;  /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-right: 10px;  /* Espacio entre la imagen y el texto */
}

.navbar-logo h1 {
    font-size: 24px;
    margin: 0;
}

.navbar-links {
    display: flex;
    list-style-type: none;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 21px;
}

.navbar-links a:hover {
    text-decoration: underline;
}