.item-card-large {
    background-color: #ffffff65;
    border: 1px solid #cccccc65;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.item-image-large {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.item-name-large {
    font-size: 24px;
    margin: 15px 0;
}

.item-description-large {
    font-size: 18px;
    margin-bottom: 15px;
}

.item-price-large {
    font-size: 22px;
    font-weight: bold;
}

.item-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 70px;
    margin-left: 720px;
}

.item-card{
    background-color: #ffffff69;
    border: 1px solid #cccccc69;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.item-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.item-name {
    font-size: 24px;
    margin: 10px 0;
}

.item-description {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-price {
    font-size: 20px;
    font-weight: bold;
}

.quantity-control {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quantity-control label {
    font-size: 18px;
    color: #333;
}

.quantity-control input[type="number"] {
    width: 60px;
    height: 35px;
    padding: 5px;
    border: 2px solid #5d00ff;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    outline: none;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
}

.quantity-control input[type="number"]:focus {
    border-color: #4802bf;
    box-shadow: 0 0 5px rgba(93, 0, 255, 0.3);
}

.quantity-control input[type="number"]::-webkit-inner-spin-button,
.quantity-control input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-control input[type="number"]:hover {
    border-color: #4802bf;
}

/*input no válido*/
.quantity-control input[type="number"]:invalid {
    border-color: #ff0000;
}